.class9 {
    top: 771px;
    position: absolute;
    border-radius: 5px;
    border: none;
    color: white;
    transform: translateX(1262px);
}

.class10 {
    float: right;
    color: white;
    background-Color: red;
}

.class11 {
    float: right;
    color: white;
    background-color: yellow;
}