.class1 {
  margin-top: 2rem;
  height: 3rem;
}

.class2 {
  margin-top: 2rem;
  height: 4rem;
  border: 2px solid yellow;
  border-radius: 15px;
}

.class3 {
  margin-top: 1rem;
  margin-left: 2rem;
}

.class4 {
  margin-top: 1rem;
  text-align: right;
}

.class5 {
  text-align: right;
}

.class6 {
  margin-top: 4rem;
  height: 3rem;
}

.class7 {
  text-align: center;
}

.class8 {
  border-radius: 50%;
  background-color: black;
  height: 50px;
  width: 50px;
}

.container-md {
  background-color: black;
    color: white;
}

* {
  background-color: black;
}
