.class9 {
    top: 771px;
    position: absolute;
    border-radius: 5px;
    border: none;
    color: white;
    transform: translateX(1262px);
}

.class10 {
    float: right;
    color: white;
    background-Color: red;
    margin-left: 15px;
}

.class11 {
    float: right;
    color: white;
    background-color: yellow;
}

.container {
    background-color: black;
}

.form-control {
    background-color: black;
    color: white;
    border: none;
}

h1 {
    color: white;
}

.form-select {
    background-color: black;
}

input[type="text"]::-webkit-input-placeholder {
    color: white;
  }

