.maindiv{
    position: absolute;
width: 1150px;
height: 1100px;
left: 320px;
top: 100px;

background: #191919;
}
.title{
   
    width: 1150px;
    height:70px;
    left: 342px;
    top: 118px;
    display: flex;
    gap: 900px;
background-color: #191919;
}

.title h2{
    margin: 20px;
    color: white;
}
.edit{
    width: 30px;
    height: 30px;
    background-color: #8efc84;
    align-items: center;
    margin: 20px;
    
}
.namedetails{
margin-top: 30px;
    width: 1150px;
    height: 140px;
    left: 342px;
    top: 118px;
background-color: #141414;;
padding: 20px;
}
.namedetails h5{
    color: rgb(193, 193, 193);
   padding-left: 900px;
}
.namedetails h4{
    color: white;
    font-weight: 400;
   padding-bottom: 10px;
}
.namedetails h2{
    color: white;
}
.card{
    margin-top: 20px;
        width: 1150px;
        height: 140px;
        left: 342px;
        top: 118px;
 background-color: #191919;
 padding: 20px;
 display: flex;
    }

    .stadium{
        width: 1000px;
        height: 600px;
        background-color: #141414;
        margin-left: 20px;
        position: absolute;
        left: 50px;
       
    }
h5{
    color: white;
    margin-left: 20px;
}

.stadium h3{
    color: white;
}
.stadium h4{
    color: yellow;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 8px;
}
