.topnavcointainer {
  position: absolute;
  width: 100%;
  height: 11%;
  left: 0px;
  top: 0px;

  background: #181818;
}
.search input {
  position: relative;
  width: 33%;
  height: 46.09px;
  left: 55%;
  margin-top: 1.2%;

  background: #141414;
  border: 1px solid #696969;
  box-sizing: border-box;
  border-radius: 8px;
  color: #ffffff;
  padding-left: 37px;
  padding-bottom: 0.4%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
}
.search input::placeholder {
  position: absolute;
  left: 8%;
  margin-top: 1.8%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}
.searchlogo {
  position: absolute;
  left: 55.5%;
  right: 39.91%;
  top: 35%;
  bottom: 94.14%;

  color: #ffffff;
}
.bellicon {
  position: absolute;

  color: #ffffff;
  position: absolute;

  left: 90%;
  top: 32%;
}
.number12 {
  position: absolute;

  color: #ffffff;

  width: 1.3%;
  height: 28%;

  border-radius: 50%;
  background: #0080dd;
  left: 91%;
  top: 26%;
}
.profilelogo img{
    position: absolute;
    left: 94.5%;
  top: 32%;
}